#delete-budget {
    position: absolute;
    right: 42px;
    top: 210px;
}

.btn-primary {
    background-color: #3C5772;
    border: none;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.progress-bar {
    background-color: #3C5772;
}

.card {
    width: 16rem;
}

#add-line-item {
    position: absolute;
    right: 42px;
    top: 170px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.status-accepted{
    background-color: rgb(70, 114, 70);
}

.status-tentative{
    background-color: rgb(73, 73, 73);
}

body{
    background-color: white;
    padding: 10px;
}

#authorize_button {
    margin: auto;
    margin-top: 300px;
    width: 16rem;
    height: 6rem;
    background-color: #3C5772;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1000;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
}

.progress {
    height: 3rem;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

#signout_button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16rem;
}

#show-form-btn {
    position: absolute;
    top: 70px;
    left: 10px;
    width: 16rem;

}

#budget-selector {
    position: absolute;
    top: 10px;
    width: 16rem;
}

.jumbotron {
    margin-top: 6rem;
    padding: 2rem;
}

#amount-remaining {
    position: absolute;
    right: 42px;
    top: 256px;
}

#new-project-form {
    text-align: -webkit-center;
}

#add-budget-form-card {
    width: 30rem;
}

.btn-danger {
    z-index: 1000;
}

.btn-info {
    z-index: 999;
}

#export-google-iframe{
    width: 100%;
    height: 40rem;
    border: none;

}